@font-face {
  font-family: "kroosItalic";
  src: url("fonts/fontes/KrossNeueGrotesk-Italic.woff2") format("woff2"),
    url("fonts/fontes/KrossNeueGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "kroosItalicBold";
  src: url("fonts/fontes/KrossNeueGrotesk-BoldItalic.woff2") format("woff2"),
    url("fonts/fontes/KrossNeueGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "kroos";
  src: url("fonts/fontes/KrossNeueGrotesk-Regular.woff2") format("woff2"),
    url("fonts/fontes/KrossNeueGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.carousel-different .slick-slide {
  margin: 0 10px;
}

.kroosItalic {
  font-family: "kroosItalic";
  font-style: italic;
}

.kroosItalicBold {
  font-family: "kroosItalicBold";
  font-style: italic;
  font-weight: bold;
}

.kroos {
  font-family: "kroos";
  font-style: normal;
}

#popup {
  display: none; /* Escondido por padrão */
  z-index: 1000;
}

#popup.show {
  display: flex; /* Mostra o popup */
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #e20613; /* Cor do spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading-spinner {
  display: none; /* Escondido por padrão */
  z-index: 1000;
}

#loading-spinner.show {
  display: flex; /* Mostra o spinner */
}
